*{
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 100px;
    background: url(abu.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
} 
main{
    width: 300%;
    height: 450px;
    background: white;

    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    width: 40%;
    height: 450px;
    background: gray;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    width: 100%;
    height: 60px;
    background: url(abu.jpg);

    display: flex;
    justify-content: center;
    align-items: center;
}


